<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Travel Planner</title>
	<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
	<script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('./service-worker.js');
            });
        }
    </script>
</head>
<body>
	<div class="app container-fluid p-0 m-0">

		<!-- Page header -->
		<div id="addTrip" class="addTrip">
			<header class="row align-items-center m-0">
				<div class="col-6 pl-4">
<!-- 					<a href=""> -->
		  				<i class="fas fa-plane-departure mr-2"></i>
		  				<span>Travel Planner</span>
<!-- 		  			</a> -->
				</div>

				<div class="col-6 text-right pr-4">
					<a id="savedTrips" href="#trips">Saved Trips</a>
				</div>
			</header>

	  		<div class="modal" tabindex="-1" role="dialog" id="errorModal">
			  <div class="modal-dialog modal-dialog-centered" role="document">
			    <div class="modal-content">
			      <div class="modal-body">
			      	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			      		 <span aria-hidden="true">&times;</span>
			        </button>
			        <p class="modal-text"></p>
			      </div>
			    </div>
			  </div>
			</div>

	  		<section id="tripPicker" class="trip-picker row m-0 justify-content-center align-items-center">
  				<form class="border border-light rounded p-3 m-3 needs-validation" novalidate>

  					<div class="form-row">
  						<div class="form-group col-md-6">
						    <label class="font-weight-bold text-muted text-secondary" for="CurrentLoc">Current Location:</label>
						    <input type="text" class="form-control" id="currentLoc" placeholder="Enter city name" pattern="[A-Za-z\s]{2,85}" required>
						    <div class="invalid-feedback"> Enter your current Location.</div>
						 </div>
						 <div class="form-group col-md-6">
						      <label class="font-weight-bold text-muted" for="destination">Destination:</label>
						    <input type="text" class="form-control" id="destination" placeholder="Enter city name" pattern="[A-Za-z\s]{2,85}" required>
						    <div class="invalid-feedback"> Enter a destination.</div>
						 </div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-6">
						    <label class="font-weight-bold text-muted" for="departureDate">Departure date:</label>
						    <input type="date" class="form-control" id="departureDate" required>
						    <div class="invalid-feedback"> Pick a date for your departure.</div>
						 </div>
						 <div class="form-group col-md-6">
						     <label class="font-weight-bold text-muted" for="returnDate">Return date:</label>
						    <input type="date" class="form-control" id="returnDate" required>
						    <div class="invalid-feedback"> Pick a date for your return.</div>
						 </div>
					</div>

					<div class="form-row">
						<button id="addTripBtn" class="btn btn-secondary btn-block font-weight-bold" type="submit">
							Add Trip
						</button>
					</div>
  				</form>
	  		</section>

	  		 <div class="vidBackground">
				<video id="bgVid" autoplay loop muted poster="../assets/imgs//poster.png">
                	<source src="../assets/vids/background2.mp4" type="video/mp4">
            	</video>
			</div>	

		</div>
		

  		<div id="trips" class="trips row m-0 p-3 px-md-4 py-md-3 d-flex flex-column-reverse">

  			<div class="add-trip co-12" style="width: 100%">
  				<div class="card h-100 bg-light mb-3">
				  <div class="card-body d-flex align-items-center justify-content-center">
				    <a id="addTrip" href="#addTrip" title="Add trip" type="button"> <i class="fas fa-plus-circle"></i> </a>
				  </div>
				</div>
  			</div>

  		</div>

		<footer>
			<div class="container">
					<div class="row py-sm-3">

						<div class="col-sm-6 col-lg-5 text-center text-sm-left my-1 ">
							<h6 class="mb-0">&copy All Right Reserved</h6>
						</div>

						<div class="col-sm-6 col-lg-7 text-center text-sm-right my-1">
							<a class="fb-ic" href="#">
								<i class="fab fa-facebook-f white-text mr-4"> </i>
							</a>
							<a class="tw-ic" href="#">
								<i class="fab fa-twitter white-text mr-4"> </i>
							</a>
						</div>
				</div>
		    </div>
		 </footer>

</body>
</html>