<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Travel Planner</title>
	<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
</head>
<body>
	<div class="app container-fluid p-0 m-0">

		<!-- Page header -->
		<div id="addTrip">
			<header class="row align-items-center m-0">
				<div class="col-6 pl-5">
					<a href="">
		  				<i class="fas fa-plane-departure mr-2"></i>
		  				<span>Travel Planner</span>
		  			</a>
				</div>

				<div class="col-6 text-right pr-5">
					<a id="savedTrips" href="#trips">Saved Trips</a>
				</div>
			</header>

	  		<!-- The app -->
	  		<section id="tripPicker" class="trip-picker row m-0 justify-content-center align-items-center">
  				<form class="border border-light rounded p-3 m-3">

  					<div class="form-row">
  						<div class="form-group col">
						    <label class="font-weight-bold text-muted text-secondary" for="formGroupExampleInput">Current Location:</label>
						    <input type="text" class="form-control" id="CurrentLoc" placeholder="Enter city name">
						 </div>
						 <div class="form-group col">
						      <label class="font-weight-bold text-muted" for="formGroupExampleInput">Destination:</label>
						    <input type="text" class="form-control" id="destination" placeholder="Enter city name">
						 </div>
					</div>

					<div class="form-row">
						<div class="form-group col">
						    <label class="font-weight-bold text-muted" for="formGroupExampleInput">Departure date:</label>
						    <input type="date" class="form-control" id="departureDate">
						 </div>
						 <div class="form-group col">
						      <label class="font-weight-bold text-muted" for="formGroupExampleInput">Return date:</label>
						    <input type="date" class="form-control" id="returnDate">
						 </div>
					</div>

					<div class="form-row">
						<button id="addTripBtn" class="btn btn-secondary btn-block font-weight-bold" type="submit">Add Trip</button>
					</div>
  				</form>
  				<div class="attribution col-12 align-self-end">
  					<a href='https://www.freepik.com/free-photos-vectors/background'>Background photo created by lifeforstock - www.freepik.com</a>
  				</div>

	  		</section>	
		</div>
		

  		<div id="trips" class="trips row m-0 p-3 flex-row-reverse justify-content-end">

  			<div class="add-trip col-xs-12 col-sm-6 col-md-4 m-0 py-3">
  				<div class="card h-100 bg-light mb-3">
				  <div class="card-body d-flex align-items-center justify-content-center">
				    <a id="addTrip" href="#addTrip" title="Add trip" type="button"> <i class="fas fa-plus-circle"></i> </a>
				  </div>
				</div>
  			</div>
  		</div>

		<footer>
			<div class="container">
					<div class="row py-sm-3">

						<div class="col-sm-6 col-lg-5 text-center text-sm-left my-1 ">
							<h6 class="mb-0">&copy All Right Reserved</h6>
						</div>

						<div class="col-sm-6 col-lg-7 text-center text-sm-right my-1">
							<a class="fb-ic" href="#">
								<i class="fab fa-facebook-f white-text mr-4"> </i>
							</a>
							<a class="tw-ic" href="#">
								<i class="fab fa-twitter white-text mr-4"> </i>
							</a>
						</div>
				</div>
		    </div>
		 </footer>

</body>
</html>