header{
	padding: 0em 2em;
	background-color: rgba(255, 255, 255, 0.3);
	height: 10vh;
	font-size: 1.2em;
	font-family: 'Work Sans';
	color: white;

	span{
		font-family: 'Righteous', cursive;
	}

	a{
		text-decoration: none;
		color: white;

		&:hover, &:focus{
			color: white;
			text-decoration: none;
			font-weight: bold;
		}
	}
}

 // Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
	header{
		font-size: 1em;
		padding: 0em 0em;
	}
}